<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Crown-lite</title>


      <!-- stylesheet -->
      <link rel="stylesheet" href="style.css">
      <link rel="stylesheet" href="slider/style/slider-def.css">


      <!-- google fonts -->
      <link href="https://fonts.googleapis.com/css?family=Darker+Grotesque:300,400,500,600,700,800,900&display=swap"
            rel="stylesheet">

      <!-- bootstrap -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

      <!-- icons -->
      <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>

      <!-- for on scroll animations -->
      <link rel="stylesheet" href="https://cdn.rawgit.com/daneden/animate.css/v3.1.0/animate.min.css">
      <script src="https://cdn.rawgit.com/matthieua/WOW/1.0.1/dist/wow.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/vue"></script>

<body>
      <div id="preloader" class="loaded">
            <div id="status"></div>

      </div>
      <a name="home"></a>
      <div class="wrapper">

            <!--------------- hero section starts here --------------->

            <div class="video-container2">
                  <video playsinline autoplay muted loop id="bgvid" class="video">
                        <source src="img/bloodstream.mp4" type="video/mp4">
                  </video>
            </div>

            <div class="header2">
                  <h1>Symptom Checker</h1>
            </div>


            <!--------------- hero section ends here --------------->

            <!--------------- navbar starts here --------------->

            <nav class="nav">


                  <ul id="menu">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="symptom.html">Symptom Checker</a></li>
                        <li><a href="testing-centers.html">Nearby Testing Centers</a></li>
                        <li><a href="statistics.html">Corona statistics</a></li>
                        <li><a href="news.html">Prevention</a></li>
                  </ul>

                  <div id="toggle">
                        <div class="span">menu</div>
                  </div>

            </nav>

            <div id="resize">
                  <div class="close-btn">close</div>

                  <ul id="menu">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="symptom.html">Symptom Checker</a></li>
                        <li><a href="testing-centers.html">Nearby Testing Centers</a></li>
                        <li><a href="statistics.html">Corona statistics</a></li>
                        <li><a href="news.html">Prevention</a></li>


                  </ul>
            </div>

            <!--------------- navbar ends here --------------->

            <div class="content2">

                  <!--------------- about section starts here --------------->

                  <a name="about"></a>

                  <section class="story">


                        <div class="container-fluid">

                              <div class="section-data">

                                    <div class="row">
                                          <div class="col-md-4"></div>
                                          <div class="col-md-6 section-subheading wow fadeInUp" data-wow-delay="0.5s">
                                                <h1>Symptom Checker</h1>
                                          </div>
                                    </div>

                                    <div class="row">
                                          <div class="col-md-4"></div>
                                          <div class="col-md-6 section-info wow fadeInUp" data-wow-delay="0.6s">Note:
                                                The Content is not intended to be a substitute for professional medical
                                                advice, diagnosis, or treatment. Always seek the advice of your
                                                physician or other qualified health provider with any questions you may
                                                have regarding a medical condition. Sources for the medical knowledge: WHO and the CDC
                                                <h2>Check which of the following symptoms apply to you:<br> </h2>
                                                <br>
                                          </div>

                                    </div>

                                    <div class="row">
                                          <div class="col-md-2">
                                          </div>
                                          <div class="col-md-2 section-index wow fadeInUp" data-wow-delay="0.3s">
                                          </div>
                                          <div class="col-md-8 section-heading wow fadeInUp" data-wow-delay="0.4s">
                                          </div>
                                    </div>
                              </div>
                                                <!--VUE JS #APP BEGINS HERE-->
                                                <div id="app">
                                                      <!-- Checkboxes list -->
                                                      <!--@submit.prevent="onSubmit"-->
                                                      <form class="symptom-inputs">
                                                            <div class="symptom-checkbox col-md-6 offset-md-4"v-for="(symptom, index) in symptomsData">
                                                                  <input class="symptom-checkbox" type='checkbox' v-bind:value='symptom'
                                                                        v-model="checkedSymptoms">  {{ symptomsData[index].texts }}
                                                                  </input>
                                                            </div>
                                                            <p class="col-md-6 offset-md-4"><strong>Note: if you have anything of the symptoms marked
                                                                        with an asterisk (*) then you should seek
                                                                        emergency medical care immediately</strong></p>

                                                            <!---Keep for Printing Values  - Debug 
                                                            <input type='button' @click='printValues()' value='Print Selected Values'></input>
                                                            Selected items : {{ totalSelected }} 
                                                            -->
                                                            <div class="col-md-6 offset-md-4">
                                                                  <label>Other Symptoms: </label>
                                                                  <textarea class="other-symptoms" id="otherSymptoms"
                                                                        v-model="otherSymptoms">
                                                                  </textarea>
                                                            </div>
                                                            <br>
                                                            <div class="col-md-6 offset-md-4">
                                                                  <label for="LocationCategory">Use the map to select
                                                                        the category which you have spent the most time
                                                                        in.:</label>
                                                                  <img class="symptom-key"src="img/categoryLegend.png">

                                                                  <select name="LocationCategory"
                                                                        v-model="selectedCategory">
                                                                        <option value="7">7</option>
                                                                        <option value="6">6</option>
                                                                        <option value="5">5</option>
                                                                        <option value="4">4</option>
                                                                        <option value="3">3</option>
                                                                        <option value="2">2</option>
                                                                        <option value="1">1</option>
                                                                  </select>
                                                                  
                                                            </div>
                                                      </form>
                             
                                                          
                                                           
                                                            <div class="symptom-results col-md-6 offset-md-4">
                                                                  <button v-on:click="calculateSymptoms">Submit</button>
                                                                  <p>{{result}}</p>
                                                                  <p v-if="hasAnyVirus"><strong>Percent Certainty: {{percentage}}</strong></p>
                                                                </div>
                                                                <center>
                                                       <div >
                                                                  <iframe class="col-md-12"style="width: 60%; height: 1000px; overflow: hidden;"
                                                                  src="https://www.arcgis.com/apps/opsdashboard/index.html#/409af567637846e3b5d4182fcd779bea"
                                                                  width="10" height="1000">Iframes not supported</iframe>
                                                            <p>Map Credit: Johns Hopkins University</p>
                                                            </div>
                                                      </center>

                                                    
                                                      <div class="row">
                                                            <div class="col-md-4"></div>
                                                            <!-- <div class="col-md-6 section-info wow fadeInUp" data-wow-delay="0.6s">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi odio eligendi dolorem pariatur obcaecati iste voluptas laudantium vel voluptates, ipsa suscipit tempore alias laborum. Consequatur aliquam libero eaque! Delectus, suscipit?</div> -->
                                                      </div>

                                                     

                                                </div>
                                                <!--VUE JS #APP ENDS HERE-->
                        </div>



                  </section>

                  <!--------------- about section ends here --------------->



                  <!--------------- footer starts here --------------->

                  <div class="footer">

                        <div class="container">

                              <div class="info">

                                    <div class="row">
                                          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.3s" id="address">
                                                <p> <span>Copyright &copy;
                                                            <script>document.write(new Date().getFullYear());</script>
                                                      </span></p>
                                                      <p> Team EN-DOS <br> Elizabeth Bruda, Natasha Setiadi, Donald Nelson, Owen Orsini, and Sanjay Ravigopal</p>
                                                <br><br>
                                          </div>

                                          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.4s" id="media">
                                                <!-- <ul>
                                                      <li><ion-icon name="logo-facebook"></ion-icon></li>
      
                                                      <li><ion-icon name="logo-instagram"></ion-icon></li>
      
                                                      <li><ion-icon name="logo-twitter"></ion-icon></li>
      
                                                      <li><ion-icon name="logo-youtube"></ion-icon></li>
                                                </ul> -->

                                                <br><br>
                                          </div>

                                          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.5s" id="mail">
                                                <p><a target="_blank">Video Background by Videezy.com</a></p>

                                          </div>

                                    </div>



                              </div>

                        </div>

                  </div>

            </div>

            <!--------------- footer ends here --------------->

      </div>

      </div>


      <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
      <script>
            $(window).on('load', function () {

                  $('#status').fadeOut();
                  $('#preloader').delay(350).fadeOut('slow');
                  $('#body').delay(350).css({ 'overflow': 'visible' });

            })
            // navigation starts here
            $("#toggle").click(function () {
                  $(this).toggleClass('on');
                  $("#resize").toggleClass("active");
            });
            $("#resize ul li a").click(function () {
                  $(this).toggleClass('on');
                  $("#resize").toggleClass("active");
            });
            $(".close-btn").click(function () {
                  $(this).toggleClass('on');
                  $("#resize").toggleClass("active");
            });

            $(function () {
                  $(document).scroll(function () {
                        var $nav = $(".nav");
                        $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
                  });
            });

            new WOW().init();

            // Select all links with hashes
            $('a[href*="#"]')
                  // Remove links that don't actually link to anything
                  .not('[href="#"]')
                  .not('[href="#0"]')
                  .click(function (event) {
                        // On-page links
                        if (
                              location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
                              &&
                              location.hostname == this.hostname
                        ) {
                              // Figure out element to scroll to
                              var target = $(this.hash);
                              target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                              // Does a scroll target exist?
                              if (target.length) {
                                    // Only prevent default if animation is actually gonna happen
                                    event.preventDefault();
                                    $('html, body').animate({
                                          scrollTop: target.offset().top
                                    }, 1000, function () {
                                          // Callback after animation
                                          // Must change focus!
                                          var $target = $(target);
                                          $target.focus();
                                          if ($target.is(":focus")) { // Checking if the target was focused
                                                return false;
                                          } else {
                                                $target.attr('tabindex', '-1'); // Adding tabindex for elements not focusable
                                                $target.focus(); // Set focus again
                                          };
                                    });
                              }
                        }
                  });


      </script>
      <script src="Symptom_Script.js"></script>

      <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
      <script>
            $(window).on('load', function () {

                  $('#status').fadeOut();
                  $('#preloader').delay(350).fadeOut('slow');
                  $('#body').delay(350).css({ 'overflow': 'visible' });

            })
            // navigation starts here
            $("#toggle").click(function () {
                  $(this).toggleClass('on');
                  $("#resize").toggleClass("active");
            });
            $("#resize ul li a").click(function () {
                  $(this).toggleClass('on');
                  $("#resize").toggleClass("active");
            });
            $(".close-btn").click(function () {
                  $(this).toggleClass('on');
                  $("#resize").toggleClass("active");
            });

            $(function () {
                  $(document).scroll(function () {
                        var $nav = $(".nav");
                        $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
                  });
            });

            new WOW().init();

            // Select all links with hashes
            $('a[href*="#"]')
                  // Remove links that don't actually link to anything
                  .not('[href="#"]')
                  .not('[href="#0"]')
                  .click(function (event) {
                        // On-page links
                        if (
                              location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
                              &&
                              location.hostname == this.hostname
                        ) {
                              // Figure out element to scroll to
                              var target = $(this.hash);
                              target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                              // Does a scroll target exist?
                              if (target.length) {
                                    // Only prevent default if animation is actually gonna happen
                                    event.preventDefault();
                                    $('html, body').animate({
                                          scrollTop: target.offset().top
                                    }, 1000, function () {
                                          // Callback after animation
                                          // Must change focus!
                                          var $target = $(target);
                                          $target.focus();
                                          if ($target.is(":focus")) { // Checking if the target was focused
                                                return false;
                                          } else {
                                                $target.attr('tabindex', '-1'); // Adding tabindex for elements not focusable
                                                $target.focus(); // Set focus again
                                          };
                                    });
                              }
                        }
                  });
      </script>
</body>

</html>