<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Crown-lite</title>


      <!-- stylesheet -->
      <link rel="stylesheet" href="style.css">
      <link rel="stylesheet" href="slider/style/slider-def.css">

      <!-- google fonts -->
      <link href="https://fonts.googleapis.com/css?family=Darker+Grotesque:300,400,500,600,700,800,900&display=swap"
            rel="stylesheet">

      <!-- bootstrap -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

      <!-- icons -->
      <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>

      <!-- for on scroll animations -->
      <link rel="stylesheet" href="https://cdn.rawgit.com/daneden/animate.css/v3.1.0/animate.min.css">
      <script src="https://cdn.rawgit.com/matthieua/WOW/1.0.1/dist/wow.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/vue"></script>

<body>
      <div id="preloader" class="loaded">
            <div id="status"></div>

      </div>
      <a name="home"></a>
      <div class="wrapper">

            <!--------------- hero section starts here --------------->

            <div class="video-container">
                  <video playsinline autoplay muted loop id="bgvid" class="video">
                        <source src="img/backgroundcover.mp4" type="video/mp4">
                  </video>
            </div>

            <div class="header">
                  <h1>Crown-lite</h1>
                  <h6 class="text-center">Helping you during these unpredictable times</h6>
            </div>

            <!--------------- hero section ends here --------------->

            <!--------------- navbar starts here --------------->

            <nav class="nav">


                  <ul id="menu">
                        <li><a href="#home">Home</a></li>
                        <li><a href="#about">Symptom Checker</a></li>
     
                  </ul>

                  <div id="toggle">
                        <div class="span">menu</div>
                  </div>

            </nav>

            <div id="resize">
                  <div class="close-btn">close</div>

                  <ul id="menu">
                        <li><a href="#home">Home</a></li>
                        <li><a href="#about">Symptom Checker</a></li>

                  </ul>
            </div>

            <!--------------- navbar ends here --------------->

            <div class="content">

                  <!--------------- about section starts here --------------->



                  <a name="about"></a>

                  <section class="story">


                        <div class="container-fluid">

                              <div class="section-data">


                              <div class="row">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-6 section-subheading wow fadeInUp" data-wow-delay="0.5s"><h1>Symptom Checker</h1></div>
                              </div>

                              <div class="row">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-6 section-info wow fadeInUp" data-wow-delay="0.6s">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi odio eligendi dolorem pariatur obcaecati iste voluptas laudantium vel voluptates, ipsa suscipit tempore alias laborum. Consequatur aliquam libero eaque! Delectus, suscipit?</div>
                              </div>

                                    <div class="row">
                                          <div class="col-md-2"></div>
                                          <div class="col-md-2 section-index wow fadeInUp" data-wow-delay="0.3s"></div>
                                          <div class="col-md-8 section-heading wow fadeInUp" data-wow-delay="0.4s">
                                          </div>
                                    </div>

                                    <div class="row">
                                          <div class="col-md-4"></div>
                                          <div class="col-md-6 section-subheading wow fadeInUp" data-wow-delay="0.5s">
                                                <h1>Symptom Checker application goes here</h1>
                                          </div>

                                    </div>

                                    <div id="app">
                                          <!-- Checkboxes list -->
                                          <div v-for="symptom in symptomsData">
                                                <input type='checkbox' v-bind:value='symptom' v-model="checkedSymptoms">{{ symptom.texts }}
                                          </div>
                                          

                                          <!-- Print -->
                                          <!----Keep for checking if the checkboxes are working correctly 
                                          <input type='button' @click='printValues()' value='Print Selected Values'>

                                          <br>
                                          Selected items : {{ totalSelected }}      -->    
                                    </div>

                                    <div class="row">
                                          <div class="col-md-4"></div>
                                          <!-- <div class="col-md-6 section-info wow fadeInUp" data-wow-delay="0.6s">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi odio eligendi dolorem pariatur obcaecati iste voluptas laudantium vel voluptates, ipsa suscipit tempore alias laborum. Consequatur aliquam libero eaque! Delectus, suscipit?</div> -->
                                    </div>

                                    <div class="row">
                                          <div class="col-md-4"></div>
                                          <div class="col-md-8 more wow fadeInUp" data-wow-delay="0.7s">
                                                <!-- <button id="btn">Know more</button> -->
                                          </div>
                                    </div>

                              </div>

                        </div>



                  </section>

                  <!--------------- about section ends here --------------->

                  <!--------------- services section starts here --------------->






           <section class="services">

            <div class="container-fluid">

                  <div class="section-data">

                        <div class="row">
                              <div class="col-md-2"></div>
                              <div class="col-md-2 section-index wow fadeInUp" data-wow-delay="0.3s"></div>
                              <div class="col-md-8 section-heading wow fadeInUp" data-wow-delay="0.4s">Common Symptoms</div>
                        </div>

                        <div class="row service">
                              <div class="col-md-4"></div>
                              <div class="col-md-3 wow fadeInUp" data-wow-delay="0.5s">
                                          <img class="symptom-icon"src="img/cough.png">
                                 
                                    <div class="icon-title">
                                          <span style="font-weight: bold;">Coughing</span> <br>
                                    </div>
                              </div>

                              <div class="col-md-3 wow fadeInUp" data-wow-delay="0.6s">
                                    <img class="symptom-icon"src="img/breath.png">
                                          <div class="icon-title">
                                                <span style="font-weight: bold;">Shortness of Breath</span> <br> 
                                          </div>
                              </div>
                        </div>

                        <div class="row service">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-3 wow fadeInUp" data-wow-delay="0.7s">
                                          <img class="symptom-icon"src="img/fever.png">
                                          <div class="icon-title">
                                                <span style="font-weight: bold;">Fever</span> <br>
                                          </div>
                                    </div>
      
                                    <div class="col-md-3 wow fadeInUp" data-wow-delay="0.8s">
                                          <img class="symptom-icon"src="img/headache.png">
                                                <div class="icon-title">
                                                      <span style="font-weight: bold;">Headaches</span> <br>
                                                </div>
                                    </div>
                              </div>
                  </div>

            </div>

           </section>
       
     </section>
     
 
            <!--------------- services section ends here --------------->
<section class="story ">
      

            <div class="container-fluid">

                  <div class="section-data">

                        <div class="row">
                              <div class="col-md-2"></div>
                              <div class="col-md-2 section-index wow fadeInUp" data-wow-delay="0.3s"></div>
                              <div class="col-md-8 section-heading wow fadeInUp" data-wow-delay="0.4s">Lorem</div>
                        </div>

                        <div class="row">
                              <div class="col-md-4"></div>
                              <div class="col-md-6 section-subheading wow fadeInUp" data-wow-delay="0.5s"><h1>Lorem</h1></div>
                        </div>

                        <div class="row">
                              <div class="col-md-4"></div>
                              <div class="col-md-6 section-info wow fadeInUp" data-wow-delay="0.6s">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae rerum fuga nemo, eligendi dolorem ad temporibus ipsa sed corporis magni sapiente debitis accusamus, eius fugit, molestiae velit quisquam molestias numquam!</div>
                        </div>

  

                  </div>

            </div>

     </section>



            

                  <!--------------- services section ends here --------------->



                  <!--------------- footer starts here --------------->

                  <div class="footer">

                        <div class="container">

                              <div class="info">

                                    <div class="row">
                                          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.3s" id="address">
                                                <p> <span>Copyright &copy;
                                                            <script>document.write(new Date().getFullYear());</script>
                                                      </span></p>
                                                <p> Team EN-DOS <br> Elizabeth Bruda, Natasha Setiadi, Donald Nelson,
                                                      Owen Orsini, and Sanjay Ravigopal</p> <br><br>
                                          </div>



                        <div class="info">
                              
                              <div class="row">
                                    <div class="col-md-4 wow fadeInUp" data-wow-delay="0.3s" id="address">
                                          <p>  <span>Copyright &copy;
                                                <script>document.write(new Date().getFullYear());</script> </span></p>
                                                <p> Team EN-DOS</p>
                                          <br><br>

                                    </div>



                              </div>

                        </div>

                  </div>

            </div>

            <!--------------- footer ends here --------------->

      </div>

      </div>


<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script>
$(window).on('load', function(){

$('#status').fadeOut();
$('#preloader').delay(350).fadeOut('slow');
$('#body').delay(350).css({'overflow': 'visible'});

})
// navigation starts here
$("#toggle").click(function() {
            $(this).toggleClass('on');
            $("#resize").toggleClass("active");
      });
      $("#resize ul li a").click(function() {
            $(this).toggleClass('on');
            $("#resize").toggleClass("active");
      });
      $(".close-btn").click(function() {
            $(this).toggleClass('on');
            $("#resize").toggleClass("active");
      });

$(function () {
  $(document).scroll(function () {
    var $nav = $(".nav");
    $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
  });
});

new WOW().init();

// Select all links with hashes
$('a[href*="#"]')
  // Remove links that don't actually link to anything
  .not('[href="#"]')
  .not('[href="#0"]')
  .click(function(event) {
    // On-page links
    if (
      location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') 
      && 
      location.hostname == this.hostname
    ) {
      // Figure out element to scroll to
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
      // Does a scroll target exist?
      if (target.length) {
        // Only prevent default if animation is actually gonna happen
        event.preventDefault();
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 1000, function() {
          // Callback after animation
          // Must change focus!
          var $target = $(target);
          $target.focus();
          if ($target.is(":focus")) { // Checking if the target was focused
            return false;
          } else {
            $target.attr('tabindex','-1'); // Adding tabindex for elements not focusable
            $target.focus(); // Set focus again
          };
        });
      }
    }
  });


</script>

      <script src="Symptom_Script.js"></script>

      <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
      <script>
            $(window).on('load', function () {

                  $('#status').fadeOut();
                  $('#preloader').delay(350).fadeOut('slow');
                  $('#body').delay(350).css({ 'overflow': 'visible' });

            })
            // navigation starts here
            $("#toggle").click(function () {
                  $(this).toggleClass('on');
                  $("#resize").toggleClass("active");
            });
            $("#resize ul li a").click(function () {
                  $(this).toggleClass('on');
                  $("#resize").toggleClass("active");
            });
            $(".close-btn").click(function () {
                  $(this).toggleClass('on');
                  $("#resize").toggleClass("active");
            });

            $(function () {
                  $(document).scroll(function () {
                        var $nav = $(".nav");
                        $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
                  });
            });

            new WOW().init();

            // Select all links with hashes
            $('a[href*="#"]')
                  // Remove links that don't actually link to anything
                  .not('[href="#"]')
                  .not('[href="#0"]')
                  .click(function (event) {
                        // On-page links
                        if (
                              location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
                              &&
                              location.hostname == this.hostname
                        ) {
                              // Figure out element to scroll to
                              var target = $(this.hash);
                              target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                              // Does a scroll target exist?
                              if (target.length) {
                                    // Only prevent default if animation is actually gonna happen
                                    event.preventDefault();
                                    $('html, body').animate({
                                          scrollTop: target.offset().top
                                    }, 1000, function () {
                                          // Callback after animation
                                          // Must change focus!
                                          var $target = $(target);
                                          $target.focus();
                                          if ($target.is(":focus")) { // Checking if the target was focused
                                                return false;
                                          } else {
                                                $target.attr('tabindex', '-1'); // Adding tabindex for elements not focusable
                                                $target.focus(); // Set focus again
                                          };
                                    });
                              }
                        }
                  });


      </script>

</body>

</html>